{% extends 'partials/base.html' %}

{% block title %} Delete Poll {% endblock %}

{% load crispy_forms_tags %}

{% block content1 %}

<div class="border p-3 m-4">

    <h4> Delete Poll </h4>
    <hr>
    <div class="alert alert-danger">
        <p>Are you sure you want to delete ?? (Confirm/Cancel)</p>
    </div>

    <form method="POST">
        {% csrf_token %}

        <input class="btn btn-danger" type="submit" value="Confirm">
        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
    </form>

</div>


{% endblock %}