{% extends 'partials/base.html' %}

{% block title %} Password Reset Done page {% endblock %}
{% load crispy_forms_tags %}

{% block content1 %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <div class="border p-3 bg-warning shadow">
                    <h3>Password Reset Done Page</h3>
                    <hr>
                    <div class="alert-danger">
                        <h4>A mail has been sent to registered mail id !!!!!!, please follow the instructions</h4>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}