{% extends 'partials/base.html' %}

{% block title %} Password Reset Complete page {% endblock %}
{% load crispy_forms_tags %}

{% block content1 %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 offset-md-8">
                <div class="border p-3 bg-warning shadow">
                    <h3>Password Reset Complete Page</h3>
                    <hr>
                    <div class="alert-danger">
                        <h4>Your password got reset successfully and you can login with new password!!!!!</h4>
                    </div>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}