{% extends 'partials/base.html' %}

{% block title %} Register page {% endblock %}
{% load crispy_forms_tags %}

{% block content1 %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">

                {% for message in messages%}		
                <!-- <h4 class="text-center text-success bg-light"> {{message}} </h4> -->
                <!-- Alert div, took from bootstrap -->
                <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
            
                <div class="border p-3 bg-dark bg-opacity-25 shadow">
                    <h4>Registration Page</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <input class="btn btn-success" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}